
module vhdlweb-make 1.0;

require {
	type container_t;
	type user_tmp_t;
	class file open;
	class dir read;
}

#============= container_t ==============

#!!!! This avc has a dontaudit rule in the current policy
allow container_t user_tmp_t:dir read;

#!!!! This avc is allowed in the current policy
allow container_t user_tmp_t:file open;
