
module vhdlweb-ghdl 1.0;

require {
	type container_t;
	type user_tmp_t;
	class dir { add_name remove_name write };
	class file { create rename unlink write };
}

#============= container_t ==============

#!!!! This avc is allowed in the current policy
allow container_t user_tmp_t:dir { add_name write };
allow container_t user_tmp_t:dir remove_name;
allow container_t user_tmp_t:file { create rename unlink write };
